@import url(normalize.css);
@font-face {
  font-family: 'iconfont';
  /* project id 156314 */
  src: url("http://at.alicdn.com/t/font_vfftwxdfak1kbj4i.eot");
  src: url("http://at.alicdn.com/t/font_vfftwxdfak1kbj4i.eot?#iefix") format("embedded-opentype"), url("http://at.alicdn.com/t/font_vfftwxdfak1kbj4i.woff") format("woff"), url("http://at.alicdn.com/t/font_vfftwxdfak1kbj4i.ttf") format("truetype"), url("http://at.alicdn.com/t/font_vfftwxdfak1kbj4i.svg#iconfont") format("svg"); }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-size: 14px;
  font-family: Helvetica Neue,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans; }

.mod-full {
  width: 100%;
  background-color: #fff; }

.mod-gray {
  background-color: #f3f3f3; }

.grid-m1210 {
  width: 1210px;
  margin: 0 auto;
  overflow: hidden; }

.ptb10 {
  padding: 10px 0; }

.pt15 {
  padding-top: 15px; }

.pt20 {
  padding-top: 20px; }

.pt30 {
  padding-top: 30px; }

.pt25b10 {
  padding: 25px 0 10px 0; }

.pt25b75 {
  padding: 25px 0 75px 0; }

.mb25 {
  margin-bottom: 25px; }

.fr {
  float: right; }

.fl {
  float: left; }

.cf:after {
  content: " ";
  display: block;
  clear: both;
  height: 0; }

.cf {
  zoom: 1; }

.ff-ss {
  font-size: 13px;
  line-height: 13px; }

.icon-arrow-right {
  vertical-align: middle;
  font-size: 16px; }

.title-m {
  font-size: 16px;
  margin: 8px 0 15px 30px;
  color: #666; }

.w-906 {
  width: 906px; }

.hide {
  display: none !important; }

.goods-item {
  float: left;
  padding: 24px 21px 30px; }
  .goods-item .img {
    width: 200px;
    height: 200px; }
    .goods-item .img img {
      width: 100%;
      height: 100%; }
  .goods-item .info {
    padding-left: 6px;
    text-align: left; }
    .goods-item .info .amount {
      font-size: 13px;
      color: #999; }
  .goods-item .price {
    padding: 22px 0 0;
    color: #ea0b0b;
    font-size: 16px; }
    .goods-item .price i {
      font-size: 12px;
      margin-right: 3px;
      display: inline-block; }
  .goods-item .name {
    display: block;
    padding: 8px 0;
    color: #3c3c3c; }

.shop-information {
  padding: 25px 50px;
  background: #fff; }
  .shop-information img {
    width: 50px;
    height: 50px;
    vertical-align: middle; }
  .shop-information .name {
    font-size: 16px;
    color: #5e5e5e;
    margin-left: 20px; }
  .shop-information .contact {
    float: right;
    color: #666;
    line-height: 50px; }
    .shop-information .contact span {
      display: inline-block;
      margin: 0 32px 0 20px; }

.shop-cart {
  z-index: 102;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 402px; }

.shop-cartbasket {
  width: 100%;
  background-color: #fff; }
  .shop-cartbasket .shop-head {
    padding: 15px 12px;
    overflow: hidden;
    color: #666; }
  .shop-cartbasket .single {
    background-color: #fafafa;
    border-top: 2px solid #ff6e1f; }
  .shop-cartbasket .clear {
    color: #ff6e1f; }
  .shop-cartbasket .shop-quantity {
    margin-right: 68px; }

.shop-cartfooter {
  z-index: 2;
  position: relative;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  background-color: #2c2c2c;
  color: #fff; }
  .shop-cartfooter .icon-add-cart {
    font-size: 36px;
    margin: 0 10px 0 16px;
    vertical-align: middle; }
  .shop-cartfooter .total-price {
    font-size: 18px;
    font-weight: 700; }
  .shop-cartfooter .cart-checkout {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 118px;
    color: #fff;
    background: #999;
    font-size: 16px; }
  .shop-cartfooter .acounted {
    background-color: #ff6e1f; }

.shop-cartbasket-empty {
  text-align: center; }
  .shop-cartbasket-empty .icon-add-cart {
    display: block;
    font-size: 52px;
    color: #ddd;
    margin-top: 15px; }
  .shop-cartbasket-empty p {
    color: #666;
    padding-bottom: 12px; }

.shop-cart-list {
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto; }

.shop-cart-row {
  display: table;
  table-layout: fixed;
  height: 50px;
  padding: 0 12px;
  font-size: 13px; }
  .shop-cart-row .cell {
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px solid #eee; }
    .shop-cart-row .cell.itemname {
      width: 25%;
      margin-right: 10px;
      font-size: 13px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #666; }
    .shop-cart-row .cell.itemquantity {
      color: #666;
      width: 30%;
      text-align: center; }
      .shop-cart-row .cell.itemquantity button {
        background-color: #fff;
        height: 24px;
        width: 24px;
        line-height: 18px;
        vertical-align: top;
        border: 1px solid #ddd;
        cursor: pointer;
        color: #666; }
      .shop-cart-row .cell.itemquantity input {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        height: 22px;
        width: 38px;
        line-height: 20px;
        font-size: 12px;
        vertical-align: top;
        text-align: center;
        color: #666; }
    .shop-cart-row .cell.itemtotal {
      text-align: center; }
      .shop-cart-row .cell.itemtotal .unit {
        color: #666;
        margin-left: 10px;
        margin-right: 15px;
        font-weight: 700; }
      .shop-cart-row .cell.itemtotal .total {
        font-weight: 700;
        color: #ff6e1f; }
  .shop-cart-row.row-active .itemname, .shop-cart-row.row-active .itemtotal .total {
    color: #f15c5c; }

.confirm-order-cart {
  background: #fff; }
  .confirm-order-cart .shop-cart-row {
    padding: 0;
    width: 100%;
    text-align: center; }
    .confirm-order-cart .shop-cart-row .goods-item {
      padding: 24px 0 30px 50px; }
      .confirm-order-cart .shop-cart-row .goods-item .img {
        width: 100px;
        height: 100px; }
      .confirm-order-cart .shop-cart-row .goods-item .info {
        margin-left: 34px;
        margin-top: 15px; }
      .confirm-order-cart .shop-cart-row .goods-item .name {
        color: #3c3c3c;
        font-size: 13px; }
      .confirm-order-cart .shop-cart-row .goods-item .spec {
        color: #999;
        font-size: 13px; }
  .confirm-order-cart .cell.itemname {
    width: 35%; }
  .confirm-order-cart .cell.itemprice {
    width: 15%; }
    .confirm-order-cart .cell.itemprice span {
      color: #ea0b0b;
      font-size: 16px;
      font-weight: 700; }
      .confirm-order-cart .cell.itemprice span i {
        font-size: 12px; }
  .confirm-order-cart .cell.itemtotal {
    width: 20%; }
    .confirm-order-cart .cell.itemtotal .total {
      color: #ea0b0b;
      font-size: 16px;
      font-weight: 700; }
      .confirm-order-cart .cell.itemtotal .total i {
        font-size: 12px; }
  .confirm-order-cart .cell.itemquantity {
    width: 18%; }
    .confirm-order-cart .cell.itemquantity button {
      font-size: 16px; }
    .confirm-order-cart .cell.itemquantity input {
      width: 42px;
      font-size: 13px; }
  .confirm-order-cart .cell.itemdelete {
    width: 15%; }
