@charset "UTF-8";
@import url(normalize.css);
@font-face {
  font-family: 'iconfont';
  /* project id 156314 */
  src: url("http://at.alicdn.com/t/font_avj581f41wuvunmi.eot");
  src: url("http://at.alicdn.com/t/font_avj581f41wuvunmi.eot?#iefix") format("embedded-opentype"), url("http://at.alicdn.com/t/font_avj581f41wuvunmi.woff") format("woff"), url("http://at.alicdn.com/t/font_avj581f41wuvunmi.ttf") format("truetype"), url("http://at.alicdn.com/t/font_avj581f41wuvunmi.svg#iconfont") format("svg"); }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-size: 14px;
  font-family: Helvetica Neue,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans; }

.mod-full {
  width: 100%;
  background-color: #fff; }

.mod-gray {
  background-color: #f3f3f3; }

.grid-m1210 {
  width: 1210px;
  margin: 0 auto;
  overflow: hidden; }

.ptb10 {
  padding: 10px 0; }

.pt15 {
  padding-top: 15px; }

.pt20 {
  padding-top: 20px; }

.pt30 {
  padding-top: 30px; }

.pt25b10 {
  padding: 25px 0 10px 0; }

.pt25b75 {
  padding: 25px 0 75px 0; }

.mb25 {
  margin-bottom: 25px; }

.fr {
  float: right; }

.fl {
  float: left; }

.cf:after {
  content: " ";
  display: block;
  clear: both;
  height: 0; }

.cf {
  zoom: 1; }

.ff-ss {
  font-size: 13px;
  line-height: 13px; }

.icon-arrow-right {
  vertical-align: middle;
  font-size: 16px; }

.title-m {
  font-size: 16px;
  margin: 8px 0 15px 30px;
  color: #666; }

.top-left {
  font-size: 13px;
  color: #fd6f1f;
  float: left; }
  .top-left span {
    border-right: 1px solid #999;
    padding-right: 16px;
    display: inline-block; }
  .top-left .login {
    color: #ff6e1f;
    margin-right: 10px; }
  .top-left .free-regist {
    color: #666; }
  .top-left .logo-out {
    color: #999;
    padding-left: 16px; }

.top-right {
  float: right; }
  .top-right li {
    float: left;
    padding: 0 15px;
    border-right: 1px solid #999;
    margin-right: -1px; }
    .top-right li a {
      color: #999; }

.img-logo {
  width: 136px; }

.search-box {
  margin: 23px 30px 0 92px;
  position: relative; }
  .search-box .icon-search {
    color: #e2e2e2;
    transform: rotate(95deg);
    -ms-transform: rotate(95deg);
    /* IE 9 */
    -moz-transform: rotate(95deg);
    /* Firefox */
    -webkit-transform: rotate(95deg);
    /* Safari 和 Chrome */
    position: absolute;
    left: 10px;
    top: 18px;
    font-size: 30px; }
  .search-box .search-input {
    border: 2px solid #ff6e1f;
    padding-left: 50px;
    line-height: 38px;
    height: 38px;
    width: 420px;
    font-size: 14px; }
  .search-box .search-btn {
    line-height: 44px;
    height: 44px;
    background-color: #ff6e1f;
    padding: 0 28px;
    color: #fff;
    font-size: 22px; }

.add-supper {
  margin-top: 30px;
  margin-right: 15px;
  line-height: 26px; }
  .add-supper .icon-add-supper {
    color: #ff6e1f;
    font-size: 26px;
    vertical-align: middle; }
  .add-supper span {
    color: #ff6e1f;
    font-size: 16px; }

.qrcode-tb {
  margin-left: 50px; }
  .qrcode-tb span {
    color: #ff341c; }
  .qrcode-tb .qrcode-img {
    display: block;
    margin-top: 8px;
    width: 54px; }

.nav-list {
  overflow: hidden;
  font-size: 16px;
  line-height: 16px;
  margin: 20px 0 10px; }
  .nav-list li {
    float: left; }
    .nav-list li a {
      margin: 10px 8px 0;
      color: #3c3c3c;
      display: inline-block;
      padding: 6px 12px; }
      .nav-list li a.current {
        color: #ff6e1f; }
      .nav-list li a:hover {
        background: #ff6e1f;
        color: #fff;
        border-radius: 2px; }
    .nav-list li .line {
      width: 2px;
      height: 15px;
      background-color: #dcdbdb;
      display: inline-block;
      vertical-align: middle; }

.title-h {
  margin-left: 15px;
  font-size: 18px;
  margin-bottom: 15px; }
  .title-h:before {
    border-left: 5px solid #ff9051;
    padding-left: 10px;
    content: "";
    height: 18px;
    display: inline-block;
    vertical-align: -2px; }

.list {
  overflow: hidden;
  zoom: 1;
  background: #fff;
  margin-left: -10px; }
  .list li {
    float: left;
    padding: 24px 22px 30px; }
    .list li .img {
      width: 200px;
      height: 200px; }
      .list li .img img {
        width: 100%;
        height: 100%; }
    .list li .info {
      padding-left: 6px; }
    .list li .price {
      padding: 22px 0 0;
      color: #ea0b0b; }
    .list li .name {
      display: block;
      padding: 8px 0;
      color: #3c3c3c; }
    .list li .spec {
      color: #999; }

.shop-info {
  padding: 28px 28px 0;
  background: #fff; }
  .shop-info .shop {
    margin-right: 56px; }
  .shop-info .shop-img {
    float: left;
    margin-right: 18px; }
  .shop-info .shop-name {
    padding-top: 15px;
    color: #3c3c3c; }
  .shop-info .shop-des {
    color: #999;
    font-size: 13px; }
  .shop-info .sales {
    margin-right: 28px; }
    .shop-info .sales .shop-name, .shop-info .sales .shop-des {
      color: #ff6e1f;
      font-size: 14px; }
  .shop-info .round-rect {
    border-radius: 25px;
    line-height: 32px;
    height: 32px;
    border: 1px solid #ff6e1f;
    color: #ff6e1f;
    padding: 0 25px;
    margin-top: 18px; }

.footer-main {
  padding: 25px 45px 0;
  margin-right: -20px; }

.qrcode-lr {
  margin: 20px 40px 15px 30px; }
  .qrcode-lr img {
    width: 120px;
    height: 120px; }
  .qrcode-lr .qrcode-info {
    margin-left: 28px;
    margin-top: 36px;
    color: #3c3c3c; }
    .qrcode-lr .qrcode-info span {
      font-size: 18px; }
    .qrcode-lr .qrcode-info p {
      color: #999; }

.links {
  width: 428px;
  border-right: 1px solid #d7d7d7;
  padding: 30px 0 45px; }
  .links a {
    display: inline-block;
    color: #3c3c3c;
    margin-right: 68px;
    margin-bottom: 10px; }
  .links .f-16 {
    font-size: 16px;
    margin-right: 58px; }

.copyright {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 35px;
  color: #999;
  font-size: 13px; }

.sidebar {
  background-color: #fff;
  font-family: 'STFangsong, SimSun'; }
  .sidebar .item {
    display: block;
    width: 76px;
    border: 1px solid #efefef;
    color: #666;
    text-align: center;
    padding: 10px 0 8px; }
    .sidebar .item .iconfont {
      display: block;
      font-size: 38px;
      line-height: 38px; }
    .sidebar .item .icon-go-top {
      font-size: 24px; }
    .sidebar .item.current, .sidebar .item:hover {
      color: #ff6e1f;
      border-color: #ff6e1f; }
  .sidebar .go-top {
    background-color: #e7e7e7; }

.side-fixed {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 10; }
