@import url(normalize.css);
@font-face {
  font-family: 'iconfont';
  /* project id 156314 */
  src: url("http://at.alicdn.com/t/font_vfftwxdfak1kbj4i.eot");
  src: url("http://at.alicdn.com/t/font_vfftwxdfak1kbj4i.eot?#iefix") format("embedded-opentype"), url("http://at.alicdn.com/t/font_vfftwxdfak1kbj4i.woff") format("woff"), url("http://at.alicdn.com/t/font_vfftwxdfak1kbj4i.ttf") format("truetype"), url("http://at.alicdn.com/t/font_vfftwxdfak1kbj4i.svg#iconfont") format("svg"); }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-size: 14px;
  font-family: Helvetica Neue,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans; }

.mod-full {
  width: 100%;
  background-color: #fff; }

.mod-gray {
  background-color: #f3f3f3; }

.grid-m1210 {
  width: 1210px;
  margin: 0 auto;
  overflow: hidden; }

.ptb10 {
  padding: 10px 0; }

.pt15 {
  padding-top: 15px; }

.pt20 {
  padding-top: 20px; }

.pt30 {
  padding-top: 30px; }

.pt25b10 {
  padding: 25px 0 10px 0; }

.pt25b75 {
  padding: 25px 0 75px 0; }

.mb25 {
  margin-bottom: 25px; }

.fr {
  float: right; }

.fl {
  float: left; }

.cf:after {
  content: " ";
  display: block;
  clear: both;
  height: 0; }

.cf {
  zoom: 1; }

.ff-ss {
  font-size: 13px;
  line-height: 13px; }

.icon-arrow-right {
  vertical-align: middle;
  font-size: 16px; }

.title-m {
  font-size: 16px;
  margin: 8px 0 15px 30px;
  color: #666; }

.w-906 {
  width: 906px; }

.hide {
  display: none !important; }

.shop-topbar {
  position: absolute;
  top: 0;
  line-height: 58px;
  height: 58px;
  background: rgba(0, 0, 0, 0.4); }
  .shop-topbar .topbar-item {
    float: left;
    padding-right: 40px;
    color: #fff;
    font-size: 16px; }
  .shop-topbar .topbar-logo {
    margin: 8px 115px 8px 0;
    width: 80px;
    height: 42px; }

.topbar-right {
  float: right;
  color: #fff;
  font-size: 13px; }
  .topbar-right span {
    padding-right: 16px; }
  .topbar-right .logo-out {
    color: #fff;
    padding-left: 14px;
    box-sizing: border-box;
    position: relative; }
    .topbar-right .logo-out:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 1px;
      height: 14px;
      margin-top: -7px;
      background: #bab5bb; }

.mod-img {
  background: url("../images/bg01.jpg") no-repeat;
  background-size: cover;
  padding-top: 58px;
  height: 197px; }

.shopguide-info {
  margin-top: 18px; }
  .shopguide-info img {
    float: left;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.3);
    vertical-align: middle; }
  .shopguide-info .shop-intro {
    float: left;
    margin: 26px 0 12px 20px;
    color: #fff; }
    .shopguide-info .shop-intro p {
      line-height: 34px;
      font-size: 18px; }
      .shopguide-info .shop-intro p.contact {
        margin-left: -8px; }
      .shopguide-info .shop-intro p .iconfont {
        vertical-align: middle; }
      .shopguide-info .shop-intro p .icon-tel {
        font-size: 18px; }
      .shopguide-info .shop-intro p .shoper-txt {
        margin-left: 12px;
        margin-right: 65px; }

.relative-info {
  margin-top: 46px; }
  .relative-info .disprice {
    margin-right: 66px; }
    .relative-info .disprice span {
      display: block;
      color: #fff;
      font-size: 20px; }
      .relative-info .disprice span.money {
        font-size: 28px; }
  .relative-info .round-rect {
    border-radius: 25px;
    line-height: 36px;
    height: 36px;
    border: 1px solid #fff;
    color: #fff;
    padding: 0 25px;
    margin-top: 5px;
    font-size: 18px;
    border-width: 2px; }

.shopnav-left {
  float: left;
  margin-left: -1px;
  overflow: hidden;
  width: 74%; }
  .shopnav-left .shopnav-tab {
    display: inline-block;
    padding: 28px 50px;
    font-size: 16px;
    color: #666;
    position: relative; }
    .shopnav-left .shopnav-tab:before, .shopnav-left .shopnav-tab.current:after {
      content: '';
      position: absolute;
      left: 0; }
    .shopnav-left .shopnav-tab:before {
      top: 50%;
      width: 1px;
      height: 14px;
      margin-top: -7px;
      background: #bab5bb; }
    .shopnav-left .shopnav-tab.current:after {
      bottom: 0;
      width: 100%;
      height: 3px;
      background: #ff6e1f; }
  .shopnav-left .shop-icons-list {
    float: right;
    margin-top: 20px;
    margin-right: 100px; }
    .shopnav-left .shop-icons-list .icon-item {
      display: inline-block;
      border: 1px solid #dadada;
      color: #c9c9c9;
      padding: 0 2px;
      margin-left: -5px; }
    .shopnav-left .shop-icons-list .selected {
      color: #fff;
      background: #ff6e1f;
      border-color: #ff6e1f; }

.shop-search-box {
  float: right;
  margin: 18px 0 15px;
  border: 1px solid #c9c9c9;
  position: relative;
  z-index: 3;
  height: 40px; }
  .shop-search-box .search-input {
    width: 245px;
    line-height: 38px;
    padding-left: 15px; }
  .shop-search-box .search-btn {
    height: 40px;
    background: #fff;
    padding-right: 12px; }
  .shop-search-box .icon-search {
    color: #999;
    font-size: 30px; }

.title-h {
  margin-left: 15px;
  font-size: 18px;
  margin-bottom: 15px; }
  .title-h:before {
    border-left: 5px solid #ff9051;
    padding-left: 10px;
    content: "";
    height: 18px;
    display: inline-block;
    vertical-align: -2px; }

.list {
  overflow: hidden;
  zoom: 1;
  background: #fff;
  margin-left: -10px; }
  .list li {
    float: left;
    padding: 24px 22px 30px; }
    .list li .img {
      width: 200px;
      height: 200px; }
      .list li .img img {
        width: 100%;
        height: 100%; }
    .list li .info {
      padding-left: 6px;
      text-align: left; }
    .list li .price {
      padding: 22px 0 0;
      color: #ea0b0b;
      font-size: 16px; }
      .list li .price i {
        font-size: 12px;
        margin-right: 3px;
        display: inline-block; }
    .list li .name {
      display: block;
      padding: 8px 0;
      color: #3c3c3c; }
    .list li .spec {
      color: #999; }

.shop-info {
  padding: 28px 28px 0;
  background: #fff; }
  .shop-info .shop {
    margin-right: 56px; }
  .shop-info .shop-img {
    float: left;
    margin-right: 18px; }
  .shop-info .shop-name {
    padding-top: 15px;
    color: #3c3c3c; }
  .shop-info .shop-des {
    color: #999;
    font-size: 13px; }
  .shop-info .sales {
    margin-right: 28px; }
    .shop-info .sales .shop-name, .shop-info .sales .shop-des {
      color: #ff6e1f;
      font-size: 14px; }
  .shop-info .round-rect {
    border-radius: 25px;
    line-height: 32px;
    height: 32px;
    border: 1px solid #ff6e1f;
    color: #fff;
    padding: 0 25px;
    color: #ff6e1f;
    margin-top: 18px; }

.goods-lr {
  background-color: #f3f3f3; }
  .goods-lr li {
    clear: left;
    position: relative;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px 54px 10px 20px; }
    .goods-lr li .img, .goods-lr li .info {
      float: left; }
    .goods-lr li .info {
      margin-left: 30px;
      width: 596px; }
    .goods-lr li .price {
      margin-top: 20px; }
      .goods-lr li .price .price-n {
        color: #ea0b0b;
        font-weight: 700; }
    .goods-lr li .name {
      padding: 10px 0 8px;
      line-height: 30px;
      font-size: 13px; }
    .goods-lr li .shopping-car {
      position: absolute;
      bottom: 54px;
      right: 54px; }

.corner-action {
  position: absolute;
  top: 8px;
  right: 2px;
  text-align: center; }
  .corner-action .icon-five-star {
    color: #ebeeef;
    font-size: 46px; }
  .corner-action .icon-collected {
    color: #ffae21; }
  .corner-action span {
    display: block;
    color: #666;
    font-size: 12px;
    margin-top: -5px; }

.detail-lists {
  position: relative; }

.good-list {
  width: 100%; }
  .good-list .round-rect {
    border-radius: 25px;
    line-height: 30px;
    height: 30px;
    border: 1px solid #ff7521;
    color: #fff;
    padding: 0 25px;
    background-color: #ff7521;
    display: inline-block; }

.goods-list-recommend {
  background: #f3f3f3;
  margin-left: 0; }
  .goods-list-recommend li {
    position: relative;
    margin-right: 10px;
    background-color: #fff;
    padding: 10px 46px 18px;
    margin-bottom: 8px;
    text-align: center; }
    .goods-list-recommend li .corner-action {
      right: 14px; }
    .goods-list-recommend li .shopping-car {
      margin-top: 22px; }
    .goods-list-recommend li .name {
      padding: 8px 0 4px; }

.shop-cartctrl {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  cursor: pointer;
  width: 118px;
  height: 28px;
  line-height: 28px;
  border-radius: 20px;
  text-align: center;
  border: 1px solid #f1f1f1;
  margin-top: 22px; }
  .shop-cartctrl .ctrl {
    position: absolute;
    top: 0;
    display: inline-block;
    height: 28px;
    width: 34px;
    text-align: center;
    background-color: #f4f4f4; }
  .shop-cartctrl .minus {
    left: 0;
    border-right: 1px solid #f1f1f1;
    border-radius: 20px 0 0 20px;
    cursor: pointer; }
  .shop-cartctrl .plus {
    right: 0;
    border-left: 1px solid #f1f1f1;
    border-radius: 0 20px 20px 0;
    cursor: pointer; }
  .shop-cartctrl .quantity {
    left: 35px;
    background-color: #fff;
    width: 46px;
    height: 26px; }

.shop-news-public {
  position: absolute;
  top: 26px;
  right: 0;
  width: 294px; }
  .shop-news-public .shop-news {
    height: 48px;
    line-height: 48px;
    background-color: #ff6e1f;
    text-align: center;
    color: #fff;
    font-size: 18px; }
  .shop-news-public .news-list {
    padding: 5px 10px 0;
    background-color: #fff; }
    .shop-news-public .news-list .item {
      position: relative;
      border-bottom: 1px dashed #e8e8e8; }
      .shop-news-public .news-list .item p {
        color: #3c3c3c;
        margin-top: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .shop-news-public .news-list .item span, .shop-news-public .news-list .item .look-more {
        display: inline-block;
        color: #999;
        font-size: 12px;
        margin-bottom: 8px; }
      .shop-news-public .news-list .item .look-more {
        position: absolute;
        right: 8px;
        bottom: 0; }

.shop-news-detail {
  position: absolute;
  top: 55px;
  right: 305px;
  background: #fff;
  z-index: 10;
  width: 384px;
  -webkit-box-shadow: 3px 1px 7px rgba(91, 91, 91, 0.32);
  -moz-box-shadow: 3px 1px 7px rgba(91, 91, 91, 0.32);
  box-shadow: 3px 1px 7px rgba(91, 91, 91, 0.32);
  padding: 15px 12px;
  color: #999; }
  .shop-news-detail .publish-time {
    display: block;
    margin-bottom: 22px;
    font-size: 12px; }
  .shop-news-detail .title {
    text-align: center;
    font-weight: 700;
    color: #666; }
  .shop-news-detail p {
    font-size: 13px;
    margin: 16px 12px 35px;
    line-height: 26px; }
  .shop-news-detail .icon-close {
    position: absolute;
    top: 15px;
    right: 12px;
    font-size: 20px; }

.shop-goods-menu {
  padding: 30px 15px;
  background-color: #fff;
  border: 1px solid #eee;
  z-index: 101;
  margin-bottom: 20px; }
  .shop-goods-menu a {
    display: inline-block;
    margin: 2px 5px;
    padding: 3px 10px;
    width: 14%;
    color: #101010;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: top;
    font-size: 16px; }
    .shop-goods-menu a:hover {
      color: #ff6e1f; }

.shop-cart {
  z-index: 102;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 402px; }

.shop-cartbasket {
  width: 100%;
  background-color: #fff; }
  .shop-cartbasket .shop-head {
    padding: 15px 12px;
    overflow: hidden;
    color: #666; }
  .shop-cartbasket .single {
    background-color: #fafafa;
    border-top: 2px solid #ff6e1f; }
  .shop-cartbasket .clear {
    color: #ff6e1f; }
  .shop-cartbasket .shop-quantity {
    margin-right: 68px; }

.shop-cartfooter {
  z-index: 2;
  position: relative;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  background-color: #2c2c2c;
  color: #fff; }
  .shop-cartfooter .icon-add-cart {
    font-size: 36px;
    margin: 0 10px 0 16px;
    vertical-align: middle; }
  .shop-cartfooter .total-price {
    font-size: 18px;
    font-weight: 700; }
  .shop-cartfooter .cart-checkout {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 118px;
    color: #fff;
    background: #999;
    font-size: 16px; }

.shop-cartbasket-empty {
  text-align: center; }
  .shop-cartbasket-empty .icon-add-cart {
    display: block;
    font-size: 52px;
    color: #ddd;
    margin-top: 15px; }
  .shop-cartbasket-empty p {
    color: #666;
    padding-bottom: 12px; }

.shop-cart-row {
  display: table;
  table-layout: fixed;
  height: 49px;
  padding: 0 12px;
  font-size: 13px; }
  .shop-cart-row .cell {
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px solid #eee; }
    .shop-cart-row .cell.itemname {
      width: 25%;
      margin-right: 10px;
      font-size: 13px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #666; }
    .shop-cart-row .cell.itemquantity {
      color: #666;
      width: 30%;
      text-align: center; }
      .shop-cart-row .cell.itemquantity button {
        background-color: #fff;
        height: 24px;
        width: 24px;
        line-height: 18px;
        vertical-align: top;
        border: 1px solid #ddd;
        cursor: pointer;
        color: #666; }
      .shop-cart-row .cell.itemquantity input {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        height: 22px;
        width: 38px;
        line-height: 20px;
        font-size: 12px;
        vertical-align: top;
        text-align: center;
        color: #666; }
    .shop-cart-row .cell.itemtotal {
      text-align: center; }
      .shop-cart-row .cell.itemtotal .unit {
        color: #666;
        margin-left: 10px;
        margin-right: 15px;
        font-weight: 700; }
      .shop-cart-row .cell.itemtotal .total {
        font-weight: 700;
        color: #ff6e1f; }
  .shop-cart-row.row-active .itemname, .shop-cart-row.row-active .itemtotal .total {
    color: #f15c5c; }

.footer-main {
  padding: 25px 45px 0;
  margin-right: -20px; }

.qrcode-lr {
  margin: 20px 40px 15px 30px; }
  .qrcode-lr img {
    width: 120px;
    height: 120px; }
  .qrcode-lr .qrcode-info {
    margin-left: 28px;
    margin-top: 36px;
    color: #3c3c3c; }
    .qrcode-lr .qrcode-info span {
      font-size: 18px; }
    .qrcode-lr .qrcode-info p {
      color: #999; }

.links {
  width: 428px;
  border-right: 1px solid #d7d7d7;
  padding: 30px 0 45px; }
  .links a {
    display: inline-block;
    color: #3c3c3c;
    margin-right: 68px;
    margin-bottom: 10px; }
  .links .f-16 {
    font-size: 16px;
    margin-right: 58px; }

.copyright {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 35px;
  color: #999;
  font-size: 13px; }
