.mod-img{
    background: url("../images/bg01.jpg") no-repeat;
    background-size: cover;
    padding-top: 58px;
    height: 197px;
}
.shopguide-info{
    margin-top: 18px;
    img{
        float: left;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        border: 4px solid rgba(255,255,255,.3);
        vertical-align: middle;
    }
    .shop-intro{
        float: left;
        margin: 26px 0 12px 20px;
        color: #fff;
        p{
            line-height: 34px;
            font-size: 18px;
            &.contact{
                margin-left: -8px;
            }
            .iconfont{
                vertical-align: middle;
            }
            .icon-tel{
                font-size: 18px;
            }
            .shoper-txt{
                margin-left: 12px;
                margin-right: 65px;
            }
        }
    }
}
.relative-info{
    margin-top: 46px;
    .disprice{
        margin-right: 66px;
        span{
            display: block;
            color: #fff;
            font-size: 20px;
            &.money{
                font-size: 28px;
            }
        }
    }
    .round-rect{
        @include round-rect(25px, 36px,#fff, #fff);
        margin-top: 5px;
        font-size: 18px;
        border-width: 2px;
        background: transparent;
    }
}
