.goods-lr{
    background-color: $bgray;
    li{
        clear: left;
        position: relative;
        margin-bottom: 10px;
        background-color: #fff;
        padding: 10px 54px 10px 20px;
        .img, .info{
            float: left;
        }
      .info{
          margin-left: 30px;
          width: 596px;
      }
      .price{
          margin-top: 20px;
          .price-n{
              color: #ea0b0b;
              font-weight: 700;
          }
      }
       .name{
            padding: 10px 0 8px;
            line-height: 30px;
            font-size: $font-size-s;
        }
        .shopping-car{
            position: absolute;
            bottom: 54px;
            right: 54px;
        }
    }
}
.corner-action{
    position: absolute;
    top: 8px;
    right: 2px;
    text-align: center;
    .icon-five-star{
        color: #ebeeef;
        font-size: 46px;
    }
    .icon-collected{
        color: #ffae21;
    }
    span{
        display: block;
        color: $cgray;
        font-size: 12px;
        margin-top: -5px;
    }
}

.detail-lists{
    position: relative;
}
.good-list{
    width: 100%;
}
.goods-list-recommend{
    background: $bgray;
    margin-left: 0;
    li{
        position: relative;
        margin-right: 10px;
        background-color: #fff;
        padding: 10px 46px 18px;
        margin-bottom: 8px;
        text-align: center;
        .corner-action{
            right: 14px;
        }
        .shopping-car{
            margin-top: 22px;
        }
        .name{
            padding: 8px 0 4px;
        }
    }

}

.shop-cartctrl {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    cursor: pointer;
    width: 118px;
    height: 28px;
    line-height: 28px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid $border-f1;
    margin-top: 22px;
    .ctrl {
        position: absolute;
        top: 0;
        display: inline-block;
        height: 28px;
        width: 34px;
        text-align: center;
        background-color: #f4f4f4;
    }
    .minus {
            left: 0;
            border-right: 1px solid $border-f1;
            border-radius: 20px 0 0 20px;
            cursor: pointer
    }
    .plus {
        right: 0;
        border-left: 1px solid $border-f1;
        border-radius: 0 20px 20px 0;
        cursor: pointer
    }
    .quantity{
        left: 35px;
        background-color: #fff;
        width: 46px;
        height: 26px;
    }
}



