.shop-news-public{
    position: absolute;
    top: 26px;
    right: 0;
    width: 294px;
    .shop-news{
        height: 48px;
        line-height: 48px;
        background-color: $byellow;
        text-align: center;
        color: #fff;
        font-size: 18px;
    }
    .news-list{
        padding: 5px 10px 0;
        background-color: #fff;
        .item{
            position: relative;
            border-bottom: 1px dashed #e8e8e8;
            p{
                color: $black;
                margin-top: 10px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            span,.look-more{
                display: inline-block;
                color: $gray-light;
                font-size: 12px;
                margin-bottom: 8px;
            }
            .look-more{
                position: absolute;
                right: 8px;
                bottom: 0;
            }
            
        }
    }
}
.shop-news-detail{
    position: absolute;
    top: 55px;
    right: 305px;
    background: #fff;
    z-index: 10;
    width: 384px;
    -webkit-box-shadow: 3px 1px 7px rgba(91,91,91,.32);
	-moz-box-shadow: 3px 1px 7px rgba(91,91,91,.32);
	box-shadow: 3px 1px 7px rgba(91,91,91,.32);
    padding: 15px 12px;
    color: $gray-light;
    .publish-time{
        display: block;
        margin-bottom: 22px;
        font-size: 12px;
    }
    .title{
        text-align: center;
        font-weight: 700;
        color: $cgray;
    }
    p{
        font-size: $font-size-s;
        margin: 16px 12px 35px;
        line-height: 26px;
    }
    .icon-close{
        position: absolute;
        top: 15px;
        right: 12px;
        font-size: 20px;
    }
}


