.order-title{
    font-size: 18px;
    color: #3c3c3c;
    margin-bottom: 39px;
}
.order-info{
    padding: 45px 45px 60px;
    background: #fff;
    .name{
        font-size: $font-size-m;
        color: #5e5e5e;
        margin-bottom: 30px;
        font-weight: 700;
        .color-gray{
            color: #999;
            font-size: 16px;
            display: inline-block;
            margin-left: 40px;
            font-weight: 400;
        }
    }
}
.checkout-item{
    float: left;
    padding: 11px 40px;
    width: 550px;
    border: 1px solid #eee;
    cursor: pointer;
    margin-right: 20px;
    box-sizing: border-box;
    p{
        margin-bottom: 15px;
        margin-top: 8px;
        color: #101010;
    }
    .color-mute{
        color: $gray-light;
    }
}
.checkout-way{

    ul{
        margin-bottom: 30px;
        margin-right: -20px;
    }
    .active{
            border-color: $byellow;
            border-top-color: #eee;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAABuUlEQVRIx8XVPUtCURzH8a8pBAW1tUrQVktEFBUE5VBYYlYWEhEt1WI4tUQ5hEsPhvU6GnoJQdEQbkFpqEOgaJAmPaCEDSc1zYfjRa//6dxzzj0ffufcB2hCZez6fU0zUMCpKpxFAVSD/6KqwcWoKnAptOFwObShcCW0YXA1tCGwDFp3WBatK1wLWje4VhSgRTV01AZr56ARWXWqoP0zYHWJdkcXeKzKE0ujgxaRNFveS0DhGUujIzZYcuWvz5bh6VYZLI2Or4Nl7/emDHgWIXCXG9bWjE5uOmnrhFiw/MTJDTDvivZ3Gk7nIeQtmCKdOGPX77N44GRsRXS4Lf8WA2BqG6Ydop36hBMzhB//TZN6uHLb+5XMdzouoGe4cOLsTh59f4VDY0lUaqsLztR3DYkI9BnE4NACPFxBPCxQw5boT77AyRy8hMquq5FG/9aACVY9op3+At8N9E6I63gYjk3wFqsYqGziik9v+BEifug3glYHXd2iPxYEt1kkrlIlYalXJuKH53uRHiAahKMZ+EhURUvCNX3wowGRsrUdzm2Q+pC6DYrOWMlfRmnlYDXRHKw2CqBpBgrwAyRHqHk8mSnZAAAAAElFTkSuQmCC) right bottom no-repeat;
    }
}
.message{
    height: 78px;
    border: 1px solid #eee;
    width: 1118px;
}
.shop-information{
    padding: 25px 50px;
    background: #fff;
    margin-top: 10px;
    img{
        width: 50px;
        height: 50px;
        vertical-align: middle;
    }
    .name{
        font-size: $font-size-m;
        color: #5e5e5e;
        margin-left: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 204px;
    }
    .contact{
        float: right;
        color: $cgray;
        line-height: 50px;
        span{
            display: inline-block;
            margin: 0 32px 0 20px;
        }
        .tel{
            width: 18px;
            height: 18px;
            margin-right: 10px;
        }
    }
}

.confirm-order-cart{
    .shop-cart-row{
        padding: 0;
        width: 100%;
        text-align: center;
        background: #fff;
        &.bg-gray{
             background: #f3f3f3;
            .cell{
                font-size: $font-size;
                color: $gray-light;
                &.itemoperate{
                    visibility: hidden;
                }
            }
        }
        .goods-item{
            padding: 24px 0 30px 50px;
            .img{
                width: 100px;
                height: 100px;
            }
            .info{
                margin-left: 34px;
                margin-top: 15px;
            }
            .name{
                color: #3c3c3c;
                font-size: 13px;
            }
            .spec{
                color: #999;
                font-size: 13px;
            }
        }
         .cell{
            &.itemname{
                width: 35%;
            }
            &.itemprice{
                width: 15%;
                span{
                    i{
                        font-size: 12px;
                    }
                    color: #ea0b0b;
                    font-size: 16px;
                    font-weight: 700;
                }
            }
            &.itemtotal{
                width: 20%;
                .total{
                    i{
                        font-size: 12px;
                    }
                    color: #ea0b0b;
                    font-size: 16px;
                    font-weight: 700;
                }
            }
            &.itemquantity{
                width: 18%;
                button{
                    font-size: 16px;
                    font-weight: 700;
                }
                input{
                    width: 42px;
                    font-size: 13px;
                }
            
            }
            &.itemoperate{
                width: 15%;
                color: $gray-light;
                .icon-delete{
                    font-size: 32px;
                }
            }
        }
    }
}
.sales-goods-row{
    margin-top: 10px;
    height: 60px;
    .cell.itemname{
        color: #5e5e5e;
        font-size: $font-size-m;
    }
}
.confirm-order-bottom{
    background: #fff;
    position: relative;
    height: 80px;
    line-height: 80px;
    padding-right: 60px;
    .total-price{
        margin-left: 68px;
        .amount{
            margin-right: 98px;
            color: $cgray;
        }
        .price{
            margin-left: 25px;
            font-size: 18px;
            color: #ea0b0b;
            font-weight: 700;
            i{
                font-size: 14px;
            }
        }
    }
    .submit-order{
        position: absolute;
        top: 20px;
        right: 48px;
        background-color: #eb2f2f;
        border-radius: 4px;
        line-height: 40px;
        height: 40px;
        color: #fff;
        width: 150px;
        text-align: center;
        font-size: 16px;
    }
}
.order-address{
    border: 1px solid #eee;
    padding: 15px 0;
    margin-bottom: 30px;
    .icon-location{
        font-size: 90px;
        color: #ccc;
        border-right: 1px solid #eee;
    }
    dl{
        float: left;
        margin-left: 20px;
        width: 928px;
        margin: 10px 0 15px 22px;
        dt, dd{
            float: left;
            color: #5e5e5e;
        }
        dt{
            padding-right: 32px;
        }
        dd{
            width: 40%;
            .edit{
                padding-left: 112px;
                display: inline-block;
                color: $byellow;
            }
            &.color-gray{
                color: $gray-light;
            }
        }
    }
}
.order-submit-success{
    padding-top: 115px;
    padding-bottom: 52px;
    .loading{
        height: 175px;
    }
    p{
        margin-top: 10px;
        color: $gray-light;
    }
    .look-order{
        margin-top: 40px;
        margin-bottom: 10px;
        color: $byellow;
    }
    a{
        display: block;
    }
    .back-home{
        color: #5b7dde;
    }
}
.detail-title{
    margin-left: 45px;
    margin-bottom: 15px;
}
// 订单详情
.order-detail-progress{
    background: #fff;
    padding: 10px 0;
    margin-bottom: 10px;
    position: relative;
    .order-state{
        border-right: 1px solid #eee;
        text-align: center;
        width: 280px;
        box-sizing: border-box;
        h4{
            font-weight: 700;
            color: #3c3c3c;
            font-size: $font-size-m;
            padding: 25px 0 75px;
            span{
                display: inline-block;
                margin-left: 15px;
            }
        }
        .state{
            color: $byellow;
            font-size: 30px;
            font-weight: 700;
        }
        .cancel-color{
            color: $cgray;
        }
        .print{
            display: block;
            margin-top: 50px;
            margin-bottom: 95px;
            color: #101010;
            font-size: 13px;
            .icon-print{
                color: $gray-light;
                vertical-align: middle;
                margin-right: 5px;
                display: inline-block;
            }
        }
    }
    .dropbox{
        border: 1px solid $byellow;
        top: 80px;
        width: 200px;
        height: 187px;
        padding: 0 18px;
        right: -14px;
        display: block;
        span{
            font-weight: 700;
            margin-top: 30px;
            margin-bottom: 5px;
            display: block;
            color: $byellow;
        }
        p{
            color: $byellow;
            line-height: 20px;
            line-height: 32px;
        }
    }
}
.order-progress{
    margin-left: 58px;
    margin-top: 30px;
    .cgray{
        color: $gray-light;
        font-size: 13px;
    }
    .progress{
        padding-top: 70px;
        .pro-state{
            float: left;
            width: 120px;
            padding: 0 25px;
            color: #3c3c3c;
            font-size: $font-size-m;
            text-align: center;
            position: relative;
            &.dot-item:after{
                    font-family: 'iconfont';
                    content: "············";
                    display: table;
                    position: absolute;
                    top: 8px;
                    color: #fc9b67;
                    font-size: 24px;
                    font-weight: 700;
                    left: -50px;
                    letter-spacing: -4px;
            }
            .iconfont{
                display: block;
                font-size: 50px;
                color: $byellow;
                line-height: 60px;
                margin: 0 auto 25px;
                
            }
            &.active{
                .iconfont{
                    border-radius: 50%;
                    background: $byellow;
                    color: #fff;
                    width: 55px;
                    height: 55px;
                    margin-bottom: 30px;
                }
            }
           span{
               display: block;
               line-height: 26px;
               margin-top: 8px;
           }
        }
    }
    .cancel{
        .pro-state .iconfont, .pro-state.dot-item:after{
            color: $cgray;
        }
        .pro-state.active .iconfont{
            background: $cgray;
        }
    }
}
@mixin border-radius($borderColor, $borderW){
    border: 1px solid $borderColor;
    border-radius: $borderW;
    -moz-border-radius: $borderW;
    -webkit-border-radius: $borderW;
}
.rect-border-radius{
    @include border-radius(#999, 4px);
    color: #999;
    line-height: 38px;
    width: 148px;
    text-align: center;
    display: inline-block;
    font-size: $font-size-m;
    position: absolute;
    top: 22px;
    right: 48px;
    &.cancel-order{
        right: 230px;
    }
}
.btn-shadow{
	-webkit-box-shadow: 3px 4px 5px rgba(0,0,0,.21);
	-moz-box-shadow: 3px 4px 5px rgba(0,0,0,.21);
	box-shadow: 3px 4px 5px rgba(0,0,0,.21);
}

.cyellow{
    border-color: $byellow;
    color: $byellow;
}
.leave-message{
    color: #e90000;
}