@import 'normalize.css';
@import '../modules/common';
@import '../modules/yellowTop';
@import '../modules/login/blackTop';
@import '../modules/bottom';

.login-bg{
    background: url(../images/login-bg.jpg) 32px 45px no-repeat;
    height: 744px;
    .input-list{
        padding-top: 120px;
        margin-left: 660px;
        margin-top: 0;
        .txt-warn{
            color: #f02525;
            margin-left: 104px;
            margin-bottom: 10px;
        }
        .input{
            width: 325px;
            height: 40px;
            line-height: 40px;
            margin-left: 15px;
        }
        .btn-save{
            width: 250px;
            height: 40px;
            background: #ff9600;
            margin-left: 80px;
        }
    }
    h2.title{
        font-size: 25px;
        font-weight: 700;
        color: $cgray;
        padding: 0 0 30px;
    }
}