@import 'normalize.css';
@import '../modules/common';
@import '../modules/yellowTop';
@import '../modules/login/blackTop';
@import '../modules/bottom';

.login-bg{
    background: url(../images/login-bg.jpg) 32px 45px no-repeat;
    height: 744px;
    .input-list{
        padding-top: 120px;
        margin-left: 660px;
        margin-top: 0;
        font-size: 18px;
        p{
            margin-bottom: 30px;
        }
        .txt-warn{
            color: #f02525;
            margin-left: 104px;
            margin-bottom: 10px;
            font-size: 14px;
        }
        .input{
            width: 310px;
            height: 40px;
            line-height: 40px;
            margin-left: 15px;
            border-color: #dbdbdb;
            color: #c2c2c2;
            padding-left: 15px;
        }
        .validate-code{
            width: 165px;
        }
        .get-code{
            margin-left: 38px;
            letter-spacing: 0;
        }
        .btn-save{
            width: 250px;
            height: 46px;
            background: #ff9600;
            margin-left: 85px;
            font-size: 18px;
        }
    }
    p.info{
        margin-top: 80px;
        margin-left: 45px;
        color: $cgray;
        line-height: 37px;
        font-size: 18px;
    }
    h2.title{
        font-size: 25px;
        font-weight: 700;
        color: $cgray;
        padding: 0 0 30px;
        &>span{
            font-weight: 400;
            font-size: 18px;
        }
    }
}
.bottom-info{
    margin-top:44px;
    a{
        margin: 0 40px 0 80px;
        display: inline-block;
        color: #232323;
        font-size: 18px;
        &:hover, &.active{
            color: #ff9600;
        }
    }
}
.editpwd-main, .register-main{
    .new-letter{
        letter-spacing: 6.5px;
    }
    .input-list .input{
        margin-left: 0;
    }
}
.register-main{
    .bottom-info{
        a{
            margin: 0 45px 0 0;
            color: #ff8400;
        }
    }
    .pwd-by-icon{
        position: relative;
        .iconfont{
            position: absolute;
            left: 384px;
            top: 10px;
            z-index: 10;
        }
    }
}