@import 'normalize.css';
@import '../modules/common';
@import '../modules/yellowTop';
@import '../modules/order/leftSidebar';
@import '../modules/bottom';
.collectons{
    float: left;
    margin-bottom: 100px;
    .list{
        padding: 0 10px;
        margin-top: 24px;
        margin-bottom: 100px;
        .goods-item{
            position: relative;
            border: 1px solid #f3f3f3;
            padding: 10px 18px 10px;
            margin: 0 7px 7px 0;
            height: 360px;
            box-sizing: border-box;
            &:hover{
                -webkit-box-shadow: 4px 3px 3px rgba(0,0,0,.1);
                -moz-box-shadow: 4px 3px 3px rgba(0,0,0,.1);
                box-shadow: 4px 3px 3px rgba(0,0,0,.1);
            }
            .info{
                padding-bottom: 15px;
            }
            .collect-bottom{
                position: absolute;
                left: 0;
                width: 238px;
                border-top: 1px solid #f3f3f3;
                font-size: 13px;
                .name{
                    width: 123px;
                    margin-left: 15px;
                    text-decoration: underline;
                }
                .go-xiehuo{
                    width: 99px;
                    position: absolute;
                    right: 2px;
                    top: 0;
                    color: $cgray;
                    line-height: 32px;
                    border-left: 1px solid #f3f3f3;
                    background: #f9f9f9;
                    .iconfont{
                        color: $byellow;
                        vertical-align: middle;
                        padding-left: 12px;
                    }
                }
            }
        }
    }
}

.table-list{
    border: 1px solid #f3f3f3;
    border-collapse:collapse;
    margin: 10px 10px 65px;
    width: 98%;
    color: $cgray;
    th{
        background: #f5f5f5;
        height: 38px;
        vertical-align: middle;
    }
    td{
        border: 1px solid #f3f3f3;
        text-align: center;
        vertical-align: middle;
        padding: 10px 16px 10px 8px;
        line-height: 24px;
    }
}
// 字体颜色
.color-green{
    color: #71b247;
}
.color-yellow{
     color: $byellow;
}
.color-red{
     color: #e21313;
}
.color-gray {
    color: $cgray;
}

 @import '../modules/usercenter/myShop';


 .account-manager{
     position: relative;
     margin-bottom: 50px;
    .btn{
        width: 80px;
        color: $gray-light;
    }
    .btn-yellow{
        color: $byellow;
    }
     .add-acount{
         position: absolute;
         top: 14px;
         right: 48px;
     }
 }
 .user-cover-layer{
     .layer-main{
        width: 1000px;
        .title{
            text-align: left;
            span{
                font-size: $font-size-m;
                color: #2f2f2f;
            }
        }

        .select-list{
            margin-left: -3px;
            width: 230px;
            padding-right: 36px;
            background: url(../images/down-arrow.png) no-repeat scroll 92% center #fff;
        }
        .go-back{
            margin: 20px 0 100px;
        }
        .icon-eye, .icon-eye-open{
            padding-left: 18px;
        }
     }
     .add-acount-input .input-list, .edit-acount-input .input-list{
         margin-left: 220px;
         text-align: left;
     }
 }
 .add-acount-first-input{
     .validate-code{
         width: 96px;
     }
     .get-code{
         margin-top: 0;
         display: inline-block;
         height: 30px;
         line-height: 30px;
         width: 92px;
         margin-left: 10px;
         letter-spacing: 0;
         font-size: 14px;
     }
 }
//安全中心
.security-list{
    margin: 20px 10px 465px;
    .item{
        padding: 36px 0 30px;
        border-bottom: 1px solid #f1f1f1;
        color: $gray-light;
        .icon-warn{
            margin-left: 46px;
            margin-right: 28px;
            color: #ffd409;
            font-size: 54px;
        }
        .title{
            font-size: 19px;
            margin-right: 38px;
        }
        .intro{
            width: 496px;
            margin-right: 28px;
            .txt{
                font-size: 18px;
                color: #3f3f3f;
                margin-bottom: 10px;
                display: inline-block;
            }
        }
    }
    .btn-edit{
        width: 100px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background: #ff4e1f;
        color: #fff;
        font-size: 16px;
        border: 0;
        margin-top: 10px;
    }
}