@import 'normalize.css';
@import '../modules/common';
@import '../modules/yellowTop';
@import '../modules/login/blackTop';
@import '../modules/bottom';

.black-top{
    .mr{
        margin-right: 315px;
    }
    .login-regist{
        color: #bc2d2d;
        width: 165px;
	    height: 40px;
        margin-top: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        background-color: #ffde00;
        text-align: center;
        line-height: 40px;
        a{
            color: #bc2d2d;
            font-size: 16px;
        }
        .logo-out:before{
            background: #bc2d2d;
        }
    }
}
.mod-black{
    background: #252525;
}
.product-footer{
    .links{
        border: 0 none;
        width: 628px;
        margin: 0 auto;
        padding-bottom: 0;
        a{
            color: #fff;
            margin:  0 71px 10px;
            &.f-16{
                margin: 0 62px 10px 71px;
            }
        }
    }
}
.mod-blue{
    background-color: #3094f9;
    background-image:-webkit-linear-gradient(to right, #3094f9, #237ff8);
    background-image:linear-gradient(to right,#3094f9, #237ff8);
}
.mod-gray-light{
    background-color: #f4f4f4;
}
.mod-blue-light{
    background-color: #ddedfc;
}
.mod-price-bg{
    background: url(../images/product-04.jpg) center center no-repeat;
}
.product-intro01{
    background: url(../images/product-01.png) 440px 15px no-repeat;
    height: 525px;
    color: #fff;
    .intro{
      padding: 112px 0 0 150px;
        .title{
            margin-bottom: 45px;
            font-size: 24px;
        }
        p{
            font-size: 18px;
            width: 398px;
            line-height: 36px;
            text-align: justify;
        }
    }
}
.product-intro02{
    background: url(../images/product-02.jpg) left center no-repeat;
    height: 600px;
    position: relative;
    .intro{
      width: 545px;
      position: absolute;
      top: 66px;
      right: 0;
        .title{
            margin-bottom: 30px;
            font-size: 20px;
            color: #3394f6;
            margin-left: 10px;
        }
        p{
            line-height: 36px;
            text-align: justify;
            color: #6f6f6f;
            &>span{
                display: inline-block;
                background-color: #3394f6;
                color: #fff;
                height: 24px;
                line-height: 24px;
                text-align: center;
                padding: 0 5px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                margin-right: 5px;
            }
        }
    }
}
.product-intro03{
    background: url(../images/product-03.png) right center no-repeat;
    height: 420px;
    position: relative;
    .intro{
      position: absolute;
      top: 128px;
      left: 39px;
      color: #4078dc;
      font-size: 20px;
        .title{
            font-weight: 700;
            margin-bottom: 8px;
        }
        p{
            line-height: 36px;
            text-align: justify;
        }
    }
}
.product-intro04{
    background: url(../images/login-bg.jpg) 70px 32px no-repeat;
    height: 608px;
    position: relative;
    .intro{
      position: absolute;
      top: 70px;
      right: 0;
      font-size: 20px;
        p{
            line-height: 36px;
            text-align: justify;
        }
    }
}
.shop-intro-item{
    float: left;
    width: 165px;
    margin-right: 104px;
    margin-top: 38px;
    color: #000;
    .shop-head{
        border-radius: 50%;
        background-color: #eaeaea;
        width: 140px;
        height: 122px;
        text-align: center;
        padding-top: 18px;
        margin-bottom: 15px;
    }
    .round-rect{
        color: #3a8dd8;
        border-color: #3a8dd8;
        border-width: 2px;
        background-color: #fff;
        height: 41px;
        line-height: 41px;
        margin-bottom: 20px;
    }
    .info{
        font-size: 14px;
    }
}
.title-img{
    position: relative;
    height: 34px;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-bottom: 32px;
}
.function-list{
    overflow: hidden;
    li{
        width: 600px;
        height: 250px;
        float: left;
        background-color: #fcfcfc;
        padding: 65px 95px 0 35px;
        box-sizing: border-box;
        &.color-item{
            background-color: #f7f7f9;
        }
        .iconfont{
            color: #bfc7d0;
            font-size: 118px;
        }
        .info{
            width: 322px;
            float: right;
            span{
                font-size: 18px;
                color: #000;
                display: block;
                margin-bottom: 15px;
            }
            p{
                 line-height: 36px;
                 color: $gray-light;
            }
        }
    }
}
.product-intro05{
    height: 628px;
    .intro{
        margin: 0 118px;
    }
    .shop-price-item{
        float: left;
        height: 449px;
        width: 320px;
        box-sizing: border-box;
        padding: 44px 84px 68px;
        background-color: #fff;
        margin: 70px 82px 0;
        text-align: center;
        -webkit-box-shadow: 0 8px 29px rgba(0,0,0,.1);
	    -moz-box-shadow: 0 8px 29px rgba(0,0,0,.1);
	    box-shadow: 0 8px 29px rgba(0,0,0,.1);
        span, .price{
            color: $cgray;
            font-size: 18px;
            display: block;
        }
        strong,.unit{
            color: #3094f9;
            font-size: 24px;
        }
        strong{
            font-size: 48px;
            font-weight: 700;
            margin: 30px 0 20px;
            display: block;
        }
        .price{
            font-size: 22px;
            margin: 48px 0 42px;
        }
        .round-rect{
            height: 56px;
            line-height: 56px;
            font-size: 24px;
            border-radius: 30px;
            border: 0 none;
            cursor: pointer;
        }
        .color-bg{
            background-color: #3094f9;
        }
        .color-yellow{
            color: #ff6600;
        }
    }
}
.product-download{
    text-align: center;
    font-size: 18px;
    padding-bottom: 65px;
    margin-top: 28px;
    p{
        margin-bottom: 18px;
    }
}
.fixed-top{
    background-color: #fff;
    color: #101010;
    -webkit-box-shadow: 0 6px 5px rgba(0,0,0,.16);
	-moz-box-shadow: 0 6px 5px rgba(0,0,0,.16);
	box-shadow: 0 6px 5px rgba(0,0,0,.16);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    .topbar-item{
        color: #101010;
        &:hover, &.acitve{
            color: #1a81d0;
        }
    }
}
.login-or-regist{
    .layer-main{
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }
    .name{
        color: #3a8dd8;
        font-size: 20px;
        display: block;
        margin: 25px 0 12px;
    }
    .shop-intro-item{
        width: 190px;
        margin: 76px 14px 76px 134px;
        .shop-head{
            margin: 0 25px;
        }
    }
    .welcome{
        font-size: 16px;
        color: #101010;
        margin-bottom: 80px;
    }
    .btn-shop{
        width: 190px;
        height: 58px;
        line-height: 58px;
        background-color: #58a1e3;
        color: #fff;
        font-size: 22px;
        margin-top: 50px;
        display: block;
    }
    .btn-yellow{
        background-color: #ffde00;
        color: #d72125;
    }
}