@import 'normalize.css';
@import '../modules/common';
@import '../modules/yellowTop';
@import '../modules/login/blackTop';
@import '../modules/bottom';
@import './login.scss';
.login-bg {
    background: url(../images/supplier-login-bg.jpg) 32px 45px no-repeat;
}

.input-list {
    .txt-warn {
        color: #f02525;
        margin-left: 120px;
        margin-bottom: 10px;
        font-size: 14px;
    }
}