.footer-main{
    padding: 25px 45px 0;
    margin-right: -20px;

}
.qrcode-lr{
    margin: 20px 40px 15px 30px;
    img{
        width: 120px;
        height: 120px;
    }
    .qrcode-info{
        margin-left: 28px;
        margin-top: 36px;
        color: $black;
        span{
            font-size: 18px;
        }
        p{
            color: $gray-light;
        }
    }
}
.links{
    width: 428px;
    border-right: 1px solid #d7d7d7;
    padding: 30px 0 45px;
    a{
        display: inline-block;
        color: $black;
        margin-right: 68px;
        margin-bottom: 10px;
    }
}
.copyright{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 35px;
    color: $gray-light;
    font-size: $font-size-s;
}
.sidebar{
    background-color: #fff;
    font-family: 'STFangsong, SimSun';
    .item{
        display: block;
        width: 76px;
        border: 1px solid #efefef;
        color: $cgray;
        text-align: center;
        padding: 10px 0 8px; 
        .iconfont{
            display: block;
            font-size: 38px;
            line-height: 38px;
        }
        .icon-go-top{
            font-size: 24px;
        }
        &.current, &:hover{
            color: $byellow;
            border-color: $byellow;
        }
    }
    .go-top{
        background-color: #e7e7e7;
    }
 
}
.side-fixed{
    position: fixed;
    top: 200px;
    right: 10px;
    z-index: 10;
}