//字体颜色定义
$black: #3c3c3c;
$cgray: #666;
$gray-light: #999;
$yellow02: #ff341c;
$red01: #ea0b0b;
// 字体
$font-family: '"Microsoft YaHei", sans-serif';
$font-size: 14px;
$font-size-s: 13px;
$font-size-m: 16px;
//背景色定义
$bgray: #f3f3f3;
$byellow: #ff6e1f;

//边框颜色定义
$border-f1: #f1f1f1;

@font-face {
  font-family: 'iconfont';  /* project id 156314 */
  src: url('http://at.alicdn.com/t/font_0xnc6rdjr05p14i.eot');
  src: url('http://at.alicdn.com/t/font_0xnc6rdjr05p14i.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_0xnc6rdjr05p14i.woff') format('woff'),
  url('http://at.alicdn.com/t/font_0xnc6rdjr05p14i.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_0xnc6rdjr05p14i.svg#iconfont') format('svg');
}
.iconfont{
	font-family: 'iconfont'!important;
    font-size: 24px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
}
body{
	font-size: 14px;
	font-family: Helvetica Neue,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans;
}
html,body{
    height: 100%;
}

// 共用
option{
    padding: 0;
    margin: 0;
}
select::-ms-expand { display: none; }
.mod-full{
	width: 100%;
	background-color: #fff;
}
.mod-gray{
	background-color: $bgray;
}
.grid-m1210{
	width: 1210px;
	margin: 0 auto;
}
.ptb10{
	padding:  10px 0;
}
.pt15{
	padding-top: 15px;
}
.pt20{
	padding-top: 20px;
}
.pt30{
	padding-top: 30px;
}
.pt25b10{
	padding: 25px 0 10px 0;
}
.pt25b75{
	padding: 25px 0 75px 0;
}

.mb25{
	margin-bottom: 25px;
}
.fr{
	float: right;
}
.fl{
	float: left;
}
.cf:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.cf {
  zoom: 1;
}
.ff-ss{
	font-size: 13px;
	line-height: 13px;
}

@mixin t-rotate($deg: 45deg){
	transform: rotate($deg);
	-ms-transform: rotate($deg); 	/* IE 9 */
	-moz-transform: rotate($deg); 	/* Firefox */
	-webkit-transform: rotate($deg); /* Safari 和 Chrome */
}
@mixin round-rect($radius: 25px, $height: 32px, $bcolor: $byellow, $color: #fff){
	border-radius: $radius;
	line-height: $height;
	height: $height;
	border: 1px solid $bcolor;
	color: $color;
	padding: 0 25px;
}
.round-rect{
    @include round-rect(25px, 30px,#ff7521, #fff);
    background-color: #ff7521;
    display: inline-block;
}
.icon-arrow-right{
	vertical-align: middle;
	font-size: 16px;
}
.title-m{
	font-size: $font-size-m;
	margin: 8px 0 15px 30px;
	color: $cgray;
}
.w-906{
	width: 906px;
}
.w-1000{
    width: 1000px;
    background: #fff;
    box-sizing: border-box;
    margin-top: 10px;
}
.hide{
	display: none!important;
}
.list-main{
    overflow: hidden;
    width: 100%;
}
h2.title{
     font-size: 18px;
     color: #2f2f2f;
     padding: 25px 0 0 20px;
}
.fn-16{
    font-size: $font-size-m;
}
.goods-item{
        float: left;
        padding: 24px 21px 30px;
        .img{
            width: 200px;
            height:200px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .info{
            padding-left: 6px;
            text-align: left;
			  .amount{
				font-size: $font-size-s;
				color: $gray-light;
                line-height: 20px;
                .line{
                    display: inline-block;
                    background: #c1c1c1;
                    height: 12px;
                    width: 1px;
                    margin: -4px 6px 0;
                    vertical-align: middle;
                }
        	}
        }
        .price{
            padding: 22px 0 0;
            color: $red01;
            font-size: $font-size-m;
            .price-n{
                i{
                    font-size: 12px;
                    display: inline-block;
                }
            }
        }
        .name{
            display: block;
            padding: 8px 0;
            color: $black;
        }
        .spec{
            color: $gray-light;
        }
}

.list-bottom{
    border-top: 1px solid #e5e5e5;
    margin: 0 28px;
    position: relative;
    .total-price{
        margin-top: 40px;
        color: $cgray;
        span{
            font-size: 16px;
            color: #101010;
            margin: 0 70px 0 15px;
        }
        .price{
            color: #ea0b0b;
            font-weight: 700;
        }
    }
    .go-check{
        position: absolute;
        top: 26px;
        right: 35px;
        padding: 0 46px;
        height: 33px;
        line-height: 33px;
        color: #fffefe;
        font-size: 16px;
    }
}
.cover{
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    .layer-main{
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        width: 800px;
        text-align: center;
    }
}
 .corner-action{
            position: absolute;
            top: 8px;
            right: 2px;
            text-align: center;
            .icon-five-star{
                color: #ebeeef;
                font-size: 46px;
            }
            .icon-collected{
                color: #ffae21;
            }
            span{
                display: block;
                color: $cgray;
                font-size: 12px;
                margin-top: -5px;
            }
        }
.dropbox{
    position: absolute;
    width: 187px;
	height: 216px;
	background-color: #fff;
	-webkit-box-shadow: 1px 1px 8px rgba(62,62,62,.1);
	-moz-box-shadow: 1px 1px 8px rgba(62,62,62,.1);
	box-shadow: 1px 1px 8px rgba(62,62,62,.1);
	border: solid 1px #eaeaea;
    color: $cgray;
    z-index: 10;
    top: 90px;
    text-align: center;
    display: none;
    span{
        margin-top: 20px;
        margin-bottom: 10px;
        display: block;
        color: $cgray;
    }
    .qrcode-img-b{
        width: 155px;
        height: 155px;
    }
}
@mixin triangle($left, $top, $width, $color){
    position: absolute;
    content: "";
    display: block;
    border-style: solid;
    z-index: 10;
    border-color: transparent transparent $color;
    left: $left;
    top: $top;
    border-width: $width;
}
.triangle-up-index{
    &:before{
        @include triangle(19px, -20px, 10px, #eaeaea);
    }
    &:after{
        @include triangle(20px, -17px, 9px, #fff);
    }
}
.triangle-down{
    &:before{
        @include triangle(26px, -20px, 10px, #ff6e1f);
    }
    &:after{
        @include triangle(27px, -17px, 9px, #fff);
    }
}
.select-arrow{
    padding-left: 24px;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-right: 24px;
    background: url(../images/select-arrow.png) no-repeat scroll 95% center #fff;
}
.oh, .detail-menu{
    overflow: hidden;
}
.btn{
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    display: block;
    cursor: pointer;
    margin: 0 auto 12px;
}
.btn-shadow{
    -webkit-box-shadow: 0 5px 5px rgba(0,0,0,.21);
    -moz-box-shadow: 0 5px 5px rgba(0,0,0,.21);
    box-shadow: 0 5px 5px rgba(0,0,0,.21);
}
.btn-yellow{
    border-color: $byellow;
    color: $byellow;
}
.input{
    height: 31px;
    line-height: 31px;
    padding-left: 5px;
    width: 197px;
    border: 1px solid #f1f1f1;
    color: #666;
}
.input-list{
    margin-top: 35px;
    p{
        margin-bottom: 22px;
        color: $cgray;
    }
}
.btn-save{
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #ff6e1f;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    border: 0 none;
}
.color-blue{
    color: #4f78bb;
    display: block;
    margin: 15px 0 8px;
}
.color-yellow{
    color: #ff8400;
}

.new-letter{
    letter-spacing: 3px;
}
.icon-checkbox{
    cursor: pointer;
    &:after{
        content: '\e64d';
    }
}
.icon-checkbox-selected{
    cursor: pointer;
    &:after{
        content: '\e64e';
        color: $byellow;
    }
}
.icon-eye{
    cursor: pointer;
    &:after{
        content: '\e63a';
    }
}
.icon-eye-open{
    cursor: pointer;
    &:after{
        content: '\e620';
    }
}
.close-cover{
    position: absolute;
    right: 46px;
    top: 32px;
    color: $cgray;
}
.ml300 {
    margin-left: 300px;
}
.mt210{
    margin-top: 210px;
}
.txt-warn {
    color: #f02525;
    margin-left: 200px;
    margin-bottom: 10px;
    font-size: 14px;
}
.txt-tip{
    color: $gray-light;
    margin: 65px 0;
    font-size: 13px;
}